<div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Lista wszystkich wykrywalnych urządzeń</h4>
                                <p class="category">Wybierz interesujące cię urządzenie</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover" ng-if="blescan_list.length > 1">
                                    <thead>
                                    	<th>Nazwa</th>
                                    	<th>Adres</th>
                                    	<th>UUID</th>
                                    	<th>Menu</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in blescan_list">
                                        	<td>{{x.name}}</td>
                                        	<td>{{x.address}}</td>
                                        	<td>{{x.uuid}}</td>
                                            <td><button ng-click="AddLight(x)" class="btn">Dodaj</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-hover" ng-if="!(blescan_list.length < 1)">
                                    <thead>
                                    	<th>Nazwa</th>
                                    	<th>Adres</th>
                                    	<th>UUID</th>
                                    	<th>Menu</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>{{blescan_list.name}}</td>
                                        	<td>{{blescan_list.address}}</td>
                                        	<td>{{blescan_list.uuid}}</td>
                                            <td><button ng-click="AddLight(blescan_list)" class="btn">Dodaj</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
