<div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Lista urządzeń dodanych do sieci</h4>
                                <p class="category">Możesz edytować swoje urządzenia</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>Nazwa</th>
                                    	<th>Adres</th>
                                    	<th>Status</th>
                                        <th>UnicastAddress</th>
                                    	<th>Zmień status</th>
                                    	<th>Menu</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in devices">
                                        	<td>{{x.name}}</td>
                                        	<td>{{x.address}}</td>
                                        	<td>
                                                <p ng-if="x.state == 'OFF'">Off</p>
                                                <p ng-if="x.state == 'ON'">On</p>
                                            </td>
                                            <td>{{x.target}}</td>
                                        	<td><button type="button" ng-click="on(x)" class="btn btn-default"><i class="fa fa-refresh" aria-hidden="true"></i></button><button type="button" ng-click="off(x)" class="btn btn-default"><i class="fa fa-refresh" aria-hidden="true"></i></button></td>
                                        	<td>
                                                <button type="button" ng-click="EditLight(x.addr)" class="btn btn-default">Edytuj</button>
                                                <button type="button" ng-click="DelLight(x.addr)" class="btn btn-default">Usuń</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>